#introPara {
  width: 500px;
  border: dotted 2px black;
  background-color: salmon;
}

body {
  background-image: url(images/flowers.jpg);
}

.backdrop {
  margin-top: 10%;
  padding-left: 10%;
  padding-bottom: 5px;
  border: solid 2px black;
  background-color: lightblue;
}

.jumbotron {
  width: 600px;
  text-align: center;

}
