<!--index.vtl-->
<div class="container">
  <h2>Super Startup Weekend</h2>
  <h5>It's that time of year folks. Once a year, 6 times a year, we bring together the best minds in our industry to showcase the most interesting stuff this industry has to offer. <a href="/details">Check out</a> whats going on this weekend!</h5>
</div>
<div class="teams">
  <h1><a href="/teams">Teams</a> attending</h1>
<!--index.vtl-->
