<div class="backdrop">
  <h4 class="jumbotron">$member.getName() successfully added to $team.getName()</h4>


  <ul class="nav nav-pills">
    <li role="presentation"><a href="/teams/$team.getId()/members/new">Add Another Member</a></li>
    <li role="presentation"><a href="/teams/$team.getId()">Team Homepage</a></li>
    <li role="presentation"><a href="/teams">All Teams</a></li>
    <li role="presentation"><a href="/">Go Home</a></li>
  </ul>
</div>
