<p>Great success!</p>


<p><a href="/teams/$team.getId()/members/new">Add another member</a>
<p><a href="/teams/$team.getId()">Team Homepage</a>
<p><a href="/teams">View All Teams</a></p>
<p><a href="/">Go Home</a></p>
