<p> new member form goes here</p>
<form action="/teams/$team.getId()/members" method="post">
  <label for="member">Team Name: </label>
  <input type="text" name="member" id="member">
  <button type="submit" class="btn btn-sucess">Add Team Member</button>
</form>
<p><a href="/">go home</a></p>
