<div class="container">
  <form action="/teams/$team.getId()/members" method="post">
    <label for="member">Member Name: </label>
    <input type="text" name="member" id="member">
    <button type="submit" class="btn btn-sucess">Add Team Member</button>
  </form>
  <p><a href="/">go home</a></p>
</div>
