#if($teams)
  #foreach($team in $teams)
    <a href="/teams/$team.getId()">$team.getName()</a>
  #end
  <p><a href="/teams/new">Add another team!</a></p>
#else
  <p>No teams yet! <a href="/teams/new">Add a new team!</a></p>
#end

<h6><a href="/">Go Home</a></h6>
