<h1>$team.getName() Homepage<h1>

<h2>Current Members:</h2>
#if($members.size()>0)
  <ul>
    #foreach($member in $members)
      <li>$member.getName()</li>
    #end
  </ul>
#else
  <p>No members yet!</p>
#end  


<p><a href="/teams/$team.getId()/members">View Members</a></p>

<p><a href="/teams/$team.getId()/members/new">Add a new member</a>
