#if($teamMembers.size()>0)
  #foreach($member in $teamMembers)
    <p>$member.getName() exists</p>
  #end
  <p><a href="/teams/$team.getId()/members/new">Add another member</a>
  <p><a href="/teams/$team.getId()">Team Homepage</a>
  <p><a href="/">Go Home</a></p>
#else
  <h1>This team doesn't have any members yet!</h1>
  <p><a href="/teams/$team.getId()/members/new">Add a member</a>
  <p><a href="/teams/$team.getId()">Back to Team Homepage</a>
  <p><a href="/">Go Home</a></p>
#end
