<div class="backdrop">
  <h1 class="jumbotron">All Teams</h1>

  #if($teams)
    #foreach($team in $teams)
      <div class="teamsPage">
        <h3><a href="/teams/$team.getId()">$team.getName() Team Page</a></h3>
      </div>
      <br>
    #end
    <br>
  #else
    <h4>No teams yet!</h4>
  #end
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">Go Home</a></li>
    <li role="presentation"><a href="/teams/new">Add A new Team</a></li>
  </ul>
</div>
