#if($team)
    <p>$team.getName() succesfully added!</p>

#else
  <p>Sorry, something terrible has happened!</p>
  <p>Try again <a href="/teams/new">Add a team</a></p>
#end

<h6><a href="/teams">View Teams</a></h6>
<h6><a href="/">Go Home</a></h6>
