<div class="backdrop">
  #if($team)
      <h4>$team.getName() succesfully added!</h4>

  #else
    <p>Sorry, something terrible has happened!</p>
    <p>Try again <a href="/teams/new">Add a team</a></p>
  #end

  <ul class="nav nav-pills">
    <li role="presentation"><a href="/teams/new">Add Another Team</a></li>
    <li role="presentation"><a href="/teams">All Teams</a></li>
    <li role="presentation"><a href="/">Go Home</a></li>
  </ul>
</div>
